<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Editar Producto</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="tipo_lente" class="form-label">Tipo de lente</label>
                <select class="form-select" id="tipo_lente" name="tipo_lente" required>
                    <option value="" disabled>Seleccione el tipo de lente</option>
                    <option value="Lente Monofocal" {{ 'selected' if producto.tipo_lente == 'Lente Monofocal' else '' }}>Lente Monofocal</option>
                    <option value="Lente Bifocal" {{ 'selected' if producto.tipo_lente == 'Lente Bifocal' else '' }}>Lente Bifocal</option>
                    <option value="Lente Progresivo" {{ 'selected' if producto.tipo_lente == 'Lente Progresivo' else '' }}>Lente Progresivo</option>
                    <option value="Lente Fotocromático" {{ 'selected' if producto.tipo_lente == 'Lente Fotocromático' else '' }}>Lente Fotocromático</option>
                    <option value="Lente Polarizado" {{ 'selected' if producto.tipo_lente == 'Lente Polarizado' else '' }}>Lente Polarizado</option>
                    <option value="Lente Antirreflejo" {{ 'selected' if producto.tipo_lente == 'Lente Antirreflejo' else '' }}>Lente Antirreflejo</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ producto.descripcion }}" required>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" value="{{ producto.stock }}" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" value="{{ producto.precio }}" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <a href="{{ url_for('productos') }}" class="btn btn-secondary mt-3">Volver a la lista de productos</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>